<div>
  <br/>
  <h2> Search By Book Name :{{filterByBookName}}</h2>
  <br/>
  <input type='text' [(ngModel)]='filterByBookName'>
  <br/><br/>
</div>
<div class="table-responsive">
  <table class="table" *ngIf='books && books.length'>
    <thead>
      <th>
        <button (click)='toggleImage()'>{{showImage?"Hide ":"Show "}}image</button>
      </th>
      <tr>
        <br/>
      </tr>
      <tr>
        <!--table header-->
        <td>Book Name</td>
        <td>Author Name</td>
        <td>goodreads Rating</td>
        <td>Book Cover</td>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor='let book of books|bookFilter:filterByBookName'>
            <td>{{book.bookName}}</td>
            <td>{{book.authorName}}</td>
            <td>{{book.rating}}</td>
            <td><img src={{book.imageUrl}} [style.width.px]='imageWidth' [style.margin.px]='imageMargin' *ngIf="showImage" /></td>
        </tr>
      </tbody>
    </table>
  </div>
