<div>
  <br/>
  <h2>Search By Movie Name :{{filterByMovieName}}</h2>
  <br/>
  <input type='text' [(ngModel)]='filterByMovieName'>
  <br/><br/>
</div>
<div class="table-responsive">
<table  class="table" *ngIf='movies && movies.length'>
  <thead>
  <tr>
    <td>Movie Name</td>
    <td>Year</td>
    <td>IMDb Rating</td>
  </tr>
</thead>
<tbody>
<tr *ngFor='let movie of movies|movieFilter:filterByMovieName'>
<td>{{movie.movieName|uppercase}}</td>
<td>{{movie.year}}</td>
  <td>{{movie.rating}}</td>
</tr>
</tbody>
</table>
</div>
