<carousel>
  <slide>
    <img src="app/img/img1.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3><strong>Books</strong></h3>
    </div>
  </slide>
  <slide>
    <img src="app/img/img2.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3><strong>Books</strong></h3>
    </div>
  </slide>
  <slide>
    <img src="app/img/img3.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3><strong>Books</strong></h3>
    </div>
  </slide>
</carousel>
<br>
<carousel>
  <slide>
    <img src="app/img/img4.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img5.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img6.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img7.jpg" alt="Forth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img8.jpg" alt="Fifth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img9.jpg" alt="Sixth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img17.jpg" alt="Forth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img18.jpg" alt="Fifth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img18.jpg" alt="Sixth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img19.jpg" alt="Forth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img20.jpg" alt="Fifth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img21.jpg" alt="Sixth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img22.jpg" alt="Forth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img23.jpg" alt="Fifth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img24.jpg" alt="Sixth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="app/img/img25.jpg" alt="Sixth slide">
    <div class="carousel-caption">
      <h3>Movies</h3>
      <p></p>
    </div>
  </slide>
</carousel>
